{% extends 'app/base.html' %}
{% load static %}
{% block title %} About {% endblock title %}
     
  
{% block main-content %}

          <div class="about-section">
            <h1>About Us Page</h1>
            <p> SD Bank is a leading private sector bank in India. The Bank’s consolidated total assets stood at Rs. 14.76 trillion at September 30, 2020.  SD Bank currently has a network of 5,418 branches and 13,463 ATMs across India.</p>
            <h3>History</h3>
            <p>SD Bank was originally promoted in 1994 by SD Limited, an Indian financial institution, and was its wholly-owned subsidiary.</p>

            <h3>SD Group Companies</h3>
            <p>SD Bank offers a wide range of banking products and financial services to corporate and retail customers through a variety of delivery channels and through its group companies.</p>

            <h3>Board of Directors</h3>
            <p>SD Bank's Board members include eminent individuals with a wealth of experience in international business, management consulting, banking and financial services.</p>

            <h3>Investor Relations</h3>
            <p>All the latest, in-depth information about SD Bank's financial performance and business initiatives.</p>

            <h3>Career Opportunities</h3>
            <p>Explore diverse openings with SD Bank.</p>

            <h3>Awards</h3>
            <p>Time and again our innovative banking services has been recognized and rewarded world over.</p>

            <h3>News Room</h3>
            <p>Catch up with SD Bank's latest business and social initiatives, as well as innovative product launches.</p>

            <h3>Corporate Social Responsibility</h3>
            <p>SD Bank is deeply engaged in human and economic development at the national level. The Bank works closely with SD Foundation across diverse sectors and programs.
            </p>

            <h3>Notice Board</h3>
            <p>Catch up with SD Bank's latest communication related to Acknowledgements, information on regulatory notices, banking ombudsman schemes and others.</p>

            
          </div>

          {% endblock main-content %}

          {% block footer %} {% include 'app/footer.html'%}   {% endblock %}