{% extends 'app/base.html' %}
{% load static %}
{% block title %} Customer {% endblock title %}
     
  
{% block main-content %}

<h1>Customer Details</h1>

<h1 style="text-align: center;">Customer Details</h1>

<table id="customers">
  <tr>
    <th>Account No.</th>
    <th>Name</th>
    <th>Email</th>
    <th>Account Balance</th>
  </tr>
  {% for u in user %}
  <tr>
    <td>{{u.accno}}</td>
    <td>{{u.name}}</td>
    <td>{{u.email}}</td>
    <td>{{u.accbal}}</td>
  </tr>
  {% endfor %}


</table>



{% endblock main-content %}
  
{% block footer %} {% endblock %}

   