{% extends 'app/base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}
     
  
{% block main-content %}
    <!-- Header -->
    <header class="o-display-container o-content o-wide" style="max-width:1500px;" id="home">
        <img class="o-image" src="{% static 'app/images/1.jpg'%}" alt="Architecture" width="1500" height="800">
        <div class="o-display-middle o-margin-top o-center">
          <h1 class="o-xxlarge o-text-white"><span class="o-padding o-black o-opacity-min"><b>SD</b></span> <span class="o-hide-small o-text-light-grey">Bank</span></h1>
          <button class="o-button o-red o-section" type="submit">
            <i class="fa fa-paper-plane"></i> Register
          </button>
        </div>
      </header>
    <!-- Header -->

<!-- Page content -->
<div class="o-content o-padding" style="max-width:1564px">

   <!-- Transaction And Transaction History -->
   <div class="row">
    <div class="column">
      <a href="{% url 'trans' %}">
      <img src="{% static 'app/images/transaction.jpg'%}" alt="Norway" style="width:100%" class="o-hover-opacity"></a>
      <div class="o-container o-white">
        <p><h3><b>Make Transaction</b></h3></p>
        <p>Using SD Bank Internet Banking or iMobile app for online transactions isn't just convenient, it is now super rewarding as well! </p>
      </div>
    </div>
    <div class="column">
      <a href="{% url 'transc' %}">
      <img src="{% static 'app/images/transhist.jpg'%}" alt="Norway" style="width:100%" class="o-hover-opacity"></a>
      <div class="o-container o-white">
        <p><h3><b>Transaction History</b></h3></p>
        <p>View Bank Statement and History</p>
      </div>
    </div>
   
  </div>
    
  
   
  
    <!-- Contact Section -->
    <div class="o-container o-padding-32" id="contact">
      <h3 class="o-border-bottom o-border-light-grey o-padding-16">Contact</h3>
      <p>Lets get in touch and talk about your next investments.</p>
      <form action="/action_page.php" target="_blank">
        <input class="o-input o-border" type="text" placeholder="Name" required name="Name">
        <input class="o-input o-section o-border" type="text" placeholder="Email" required name="Email">
        <input class="o-input o-section o-border" type="text" placeholder="Subject" required name="Subject">
        <input class="o-input o-section o-border" type="text" placeholder="Comment" required name="Comment">
        <button class="o-button o-black o-section" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </form>
    </div>
    
  
  
  <!-- End page content -->
</div>

{% endblock main-content %}

{% block footer %} {% include 'app/footer.html'%}   {% endblock %}
  































  