{% extends 'app/base.html' %}
{% load static %}
{% block title %} Transaction {% endblock title %}


      

{% block main-content %}


<h1 style="text-align: center;">Transaction Details</h1>
<h1 style="text-align: center;">Transaction Details</h1>

{% if messages %}
      {% for message in messages %}
      <p {% if message.tags %} class="alert alert-success mb-5" {% endif %}>{{message}}</p>
      {% endfor %}
      {% endif %}

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Sender</th>
            <th scope="col">Reciever</th>
            <th scope="col">Amount Transferred</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
 
            {% for t in tr %}
          <tr>
            <th scope="row">{{t.sender}}</th>
            <td>{{t.amount}}</td>
            <td>{{t.receiver}}</td>
            <td>{{t.datetrans}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
     
{% endblock main-content %}
  
{% block footer %}  {% endblock %}


